<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.tuffytiffany.newsuncle</key>
		<string>NewsUncleAdhocDistribution</string>
	</dict>
	<key>signingCertificate</key>
	<string>C75A939D4AC42A502C66156399BD8B667D6A34BF</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>UQN7GH636G</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
